.homeDasboard {
    width: 100%;
    background-image: url('./assets/images/gradient.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    animation-name: example;
    animation-duration: 10s infinite;
  }

  @keyframes example {
    from {background-image: url('./assets/images/gradient.jpg');;}
    to {background-image: url('./assets/images/gradient2.jpg');;}
  }